{%extends "transportes/base.html"%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Servicios</title>
    <link href="{% static 'transportes/css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>
    

    {%block contenedor%}
    <a class="btn btn-warning" href="{% url 'transportes:registrarServicios' %}">Agregar</a>

    {% if messages %}

        {% for message in messages %}
            <div class="alert alert-{%if message.tags%}{{message.tags}}{%else%}dark{%endif%}" role = "alert">{{message}}</div>
        {% endfor %}

    {% endif %}

    {%if datosT%}
        <form class="d-flex" role="search" action="{% url 'transportes:buscarServicios' %}" method="post">
            {% csrf_token %}
            <input onkeyup="buscarProducto('{% url 'transportes:buscarServicios' %}');" class="form-control" type="search" name="buscar" id="buscar">

        </form>
        <table class="table table-striped"> 
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>caracteristicas</th>
                    <th>Operaciones</th>

                   



                </tr>
            </thead>
            <tbody>
                {%for t in datosT %}
                <tr>
                    <td>{{t.id}}</td>
                    <td>{{t.nombre}}</td>
                    <td>{{t.caracteristicas}}</td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <a class="btn btn-dark" href="{% url 'transportes:eliminarServicios' t.id %}">Eliminar</a>

                            <a class="btn btn-info" href="{% url 'transportes:formularioEditarServicios' t.id %}">Editar</a>
                        </div>
                    </td>

                    


                </tr>
                
                {%endfor%}
            </tbody>
            
        </table>
        <p>Página {{ datosT.number }} de {{ datosT.paginator.num_pages }}.</p>
        
        <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item {% if not datosT.has_previous %}disabled{% endif %}">
                <a class="page-link" href="?page=1">&laquo;</a>
              </li>
              <li class="page-item {% if not datosT.has_previous %}disabled{% endif %}">
                <a class="page-link" {% if datosT.has_previous %}href="?page={{ datosT.previous_page_number }}"{% endif %}>Anterior</a>
              </li>
              
                {% for i in "x"|rjust:datosT.paginator.num_pages|make_list %}
                    <li class="page-item {% if forloop.counter == datosT.number %}active{% endif %}" aria-current="page">
                        <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                    </li>
                {% endfor %}

              <li class="page-item {% if not datosT.has_next %}disabled{% endif %}">
                <a class="page-link" {% if datosT.has_next %}href="?page={{ datosT.next_page_number }}"{% endif %}>Siguiente</a>
              </li>
              <li class="page-item {% if not datosT.has_next %}disabled{% endif %}">
                <a class="page-link" {% if datosT.has_next %}href="?page={{ datosT.paginator.num_pages }}"{% endif %}>&raquo;</a>
              </li>
            </ul>
          </nav>


    {%else%}
        No hay datos...
    {%endif%}

    {%endblock%}


    <script src="{% static 'transportes/js/popper.min.js' %}"></script>
    <script src="{% static 'transportes/js/bootstrap.min.js' %}"></script>

    
</body>
</html>