{%extends "transportes/base.html"%}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Usuario</title>
</head>
<body>
    {%block contenedor%}
    <h3>Agregar Servicio</h3>
    <form action="{%url 'transportes:guardarServicios'%}" method="post">
        {%csrf_token%}
        <div class="mb-3 mt-3">
          <label for="" class="form-label">Nombre:</label>
          <input type="text" class="form-control" id="" placeholder="Ingrese Nombre" name="nombre">
        </div>
        <div class="mb-3 mt-3">
          <label for="" class="form-label">caracteristicas:</label>
          <input type="text" class="form-control" id="" placeholder="Ingrese caracteristicas" name="caracteristicas">
        </div>
        
          
        
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
      {%endblock%}
      
</body>
</html>