{%extends "transportes/base.html"%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Proveedor</title>
    <link href="{% static 'transportes/css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>
   

    {%block contenedor%}
    <a class="btn btn-warning" href="{% url 'transportes:registrarProveedores' %}">Agregar</a>
    {% if messages %}

        {% for message in messages %}
            <div class="alert alert-{%if message.tags%}{{message.tags}}{%else%}dark{%endif%}" role = "alert">{{message}}</div>
        {% endfor %}

    {% endif %}

    {%if datosR%}
        <form class="d-flex" role="search" action="{% url 'transportes:buscarProveedores' %}" method="post">
            {% csrf_token %}
            <input onkeyup="buscarProducto('{% url 'transportes:buscarProveedores' %}');" class="form-control" type="search" name="buscar" id="buscar">

        </form>
        <div id="respuesta">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>nombre</th>
                    <th>apellido</th>
                    <th>correo</th>
                    <th>direccion</th>
                    <th>documento</th>
                    <th>fecha_nacimiento</th>
                    <th>marca_veh</th>
                    <th>color_veh</th>
                    <th>documentacion_veh</th>
                    <th>Operaciones</th>






                </tr>
            </thead>
            <tbody>
                {%for t in datosR %}
                <tr>
                    <td>{{t.id}}</td>
                    <td>{{t.nombre}}</td>
                    <td>{{t.apellido}}</td>
                    <td>{{t.correo}}</td>
                    <td>{{t.direccion}}</td>
                    <td>{{t.documento}}</td>
                    <td>{{t.fecha_nacimiento}}</td>
                    <td>{{t.marca_veh}}</td>
                    <td>{{t.color_veh}}</td>
                    <td>{{t.documentacion_veh}}</td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <a class="btn btn-dark" href="{% url 'transportes:eliminarProveedores' t.id %}">Eliminar</a>

                            <a class="btn btn-info" href="{% url 'transportes:formularioEditarProveedores' t.id %}">Editar</a>
                        </div>
                    </td>



                </tr>
                
                {%endfor%}
            </tbody>
            
        </table>
        <p>Página {{ datosR.number }} de {{ datosR.paginator.num_pages }}.</p>
        
        <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item {% if not datosR.has_previous %}disabled{% endif %}">
                <a class="page-link" href="?page=1">&laquo;</a>
              </li>
              <li class="page-item {% if not datosR.has_previous %}disabled{% endif %}">
                <a class="page-link" {% if datosR.has_previous %}href="?page={{ datosR.previous_page_number }}"{% endif %}>Anterior</a>
              </li>
              
                {% for i in "x"|rjust:datosR.paginator.num_pages|make_list %}
                    <li class="page-item {% if forloop.counter == datosR.number %}active{% endif %}" aria-current="page">
                        <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                    </li>
                {% endfor %}

              <li class="page-item {% if not datosR.has_next %}disabled{% endif %}">
                <a class="page-link" {% if datosR.has_next %}href="?page={{ datosR.next_page_number }}"{% endif %}>Siguiente</a>
              </li>
              <li class="page-item {% if not datosR.has_next %}disabled{% endif %}">
                <a class="page-link" {% if datosR.has_next %}href="?page={{ datosR.paginator.num_pages }}"{% endif %}>&raquo;</a>
              </li>
            </ul>
          </nav>


    {%else%}
        No hay datos...
    {%endif%}

    {%endblock%}


    <script src="{% static 'transportes/js/popper.min.js' %}"></script>
    <script src="{% static 'transportes/js/bootstrap.min.js' %}"></script>

</body>
</html>