{%extends "transportes/base.html"%}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Usuario</title>
</head>
<body>
    {%block contenedor%}
    <h3>Agregar Proveedor</h3>
    <form action="{%url 'transportes:guardarProveedores'%}" method="post">
        {%csrf_token%}
        <div class="mb-3 mt-3">
          <label for="" class="form-label">Nombre:</label>
          <input type="text" class="form-control" id="" placeholder="Ingrese Nombre" name="nombre">
        </div>
        <div class="mb-3 mt-3">
            <label for="" class="form-label">Apellido:</label>
            <input type="text" class="form-control" id="" placeholder="Ingrese Apellido" name="apellido">
          </div>
          <div class="mb-3 mt-3">
            <label for="" class="form-label">Correo:</label>
            <input type="email" class="form-control" id="email" placeholder="Ingrese Correo" name="correo">
          </div>
          <div class="mb-3 mt-3">
            <label for="" class="form-label">Direccion:</label>
            <input type="text" class="form-control" id="" placeholder="Ingrese Direccion" name="direccion">
          </div>
          <div class="mb-3 mt-3">
            <label for="" class="form-label">Documento:</label>
            <input type="number" class="form-control" id="" placeholder="Ingrese Documento" name="documento">
          </div>
          <div class="mb-3 mt-3">
            <label for="" class="form-label">Fecha de Nacimiento:</label>
            <input type="date" class="form-control" id="" placeholder="Ingrese " name="fecha_nacimiento">
          </div>
          <div class="mb-3 mt-3">
            <label for="" class="form-label">Marca del vehiculo:</label>
            <input type="text" class="form-control" id="" placeholder="Ingrese " name="marca_veh">
          </div>
          <div class="mb-3 mt-3">
            <label for="" class="form-label">Color del vehiculo:</label>
            <input type="text" class="form-control" id="" placeholder="Ingrese " name="color_veh">
          </div>
          <div class="mb-3 mt-3">
            <label for="" class="form-label">Documentacion del Vehiculo:</label>
            <input type="checkbox" class="form-control" id="" placeholder="Ingrese " name="documentacion_veh">
          </div>
          
        
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
      {%endblock%}
      
</body>
</html>