{%extends "transportes/base.html"%}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Usuario</title>
</head>
<body>
    {%block contenedor%}
    <h3>Agregar Peticiones</h3>
    <form action="{%url 'transportes:actualizarPeticiones'%}" method="post">
        {%csrf_token%}
        <input type="hidden" name="id" value="{{ peticiones.id }}"/>
        <div class="mb-3 mt-3">
          <label>Cliente</label>
          <select class="form-control" name="cliente">
              <option value="">Seleccione:</option>
              {% for c in cli %}
                  <option value="{{ c.id }}"{% if peticiones.cliente.id == c.id %}selected=""{% endif %}>{{ c.id}} - {{ c.nombre }}</option>
              {% endfor %}
          </select>
        </div>
        <div class="mb-3 mt-3">
          <label>servicios</label>
          <select class="form-control" name="servicios">
              <option value="">Seleccione:</option>
              {% for c in servicios %}
                  <option value="{{ c.id }}"{% if peticiones.servicios.id == c.id %}selected=""{% endif %}>{{ c.id}} - {{ c.nombre }}</option>
              {% endfor %}
          </select>
          </div>
          <div class="mb-3 mt-3">
            <label for="" class="form-label">direccion:</label>
            <input type="text" class="form-control" id="" value="{{ peticiones.direccion }}" name="direccion">
          </div>
          <div class="mb-3 mt-3">
            <label for="" class="form-label">colegio:</label>
            <input type="text" class="form-control" id="" value="{{ peticiones.colegio }}" name="colegio">
          </div>
          <div class="mb-3 mt-3">
            <label for="" class="form-label">horario:</label>
            <input type="text" class="form-control" id="" value="{{ peticiones.horario }}" name="horario">
          </div>
          <div class="mb-3 mt-3">
            <label for="" class="form-label">Comentario adicional:</label>
            <input type="text" class="form-control" id="" value="{{ peticiones.comentario_add }}" name="comentario_add">
          </div>
          
        
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
      {%endblock%}
      
</body>
</html>